$border_title_color: $text-primary;
$border_hover_color: $primary;
$border_focus_color: $accent;

.bordered_widget{
  border: round $secondary;
  border-title-color: $border_title_color;
  height: 1fr;
  }

.bordered_widget:focus{
  border: round $border_focus_color;
}

.bordered_widget:hover{
  border: round $border_hover_color;
}

.bordered_widget:hover:focus{
  border: round $border_focus_color;
}

TabbedContent{
  width: 1fr;
  height: 1fr;
  }

DataTable {
  height: 1fr;
  width: 1fr;
  }
